body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background: #efefef;
}
 
.static {
    position: static;
    background: #cc0000;
    color: #ffffff;
    padding: 30px;
}
 
span {
    padding: 5px;
    border: 1px #ffffff dotted;
}